name: Releases

on:
  push:
    tags:
    - 'v*'

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
      with:
        egress-policy: audit

    - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      with:
        persist-credentials: false
    - run: ./hack/merge-crds.sh
    - uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
      with:
        allowUpdates: true
        artifacts: "dist/*"
        body: "See https://marketplace.upbound.io/providers/grafana/provider-grafana/ for API documentation."

  deploy:
    name: Trigger Argo Workflow Deployment
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read
      id-token: write
      pull-requests: write
    
    steps:
      - name: Extract version
        id: version
        run: |
          VERSION="${GITHUB_REF#refs/tags/}"
          echo "version=${VERSION}" >> $GITHUB_OUTPUT
          echo "Deploying version: ${VERSION}"
          echo "Docker image: crossplane/provider-grafana:${VERSION}"

      - name: Trigger Argo Workflow
        id: trigger-argo-workflow
        uses: grafana/shared-workflows/actions/trigger-argo-workflow@2b6ace8fb54a9a0e4c4a28760b10c4f9ab073537 # trigger-argo-workflow/v1.2.0
        with:
          namespace: platform-monitoring-cd
          workflow_template: crossplane-provider-grafana
          parameters: |
            dockertag=${{ steps.version.outputs.version }}
            prCommentContext= Triggered by release ${{ steps.version.outputs.version }} in crossplane/crossplane-provider-grafana
            commit_author=grafana-delivery-bot
