name: Releases

on:
  push:
    tags:
    - 'v*'

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
      with:
        egress-policy: audit

    - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      with:
        persist-credentials: false
    - run: ./hack/merge-crds.sh
    - uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
      with:
        allowUpdates: true
        artifacts: "dist/*"
        body: "See https://marketplace.upbound.io/providers/grafana/provider-grafana/ for API documentation."

  deploy:
    name: Trigger Argo Workflow Deployment
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read
      id-token: write
      pull-requests: write

    steps:
      - name: Extract version
        id: version
        run: |
          VERSION="${GITHUB_REF#refs/tags/}"
          echo "version=${VERSION}" >> $GITHUB_OUTPUT
          echo "Deploying version: ${VERSION}"
          echo "Docker image: crossplane/provider-grafana:${VERSION}"

      - name: Trigger Argo Workflow
        id: trigger-argo-workflow
        uses: grafana/shared-workflows/actions/trigger-argo-workflow@e100806688f1209051080dfea5719fbbd1d18cc0 # trigger-argo-workflow/v1.2.1
        with:
          namespace: platform-monitoring-cd
          workflow_template: crossplane-provider-grafana
          parameters: |
            dockertag=${{ steps.version.outputs.version }}
            prCommentContext= Triggered by release ${{ steps.version.outputs.version }} in crossplane/crossplane-provider-grafana
            commit_author=grafana-delivery-bot
